@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

/*
#B8E3B6
#ddd9be




*/
body{
    background-color: #E8CFA2;
    background-position: fixed;
    background-repeat: no-repeat;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    margin: 0px;
}
header{
    
    padding: 40px 0px 0px 0px;
    background-color: #FAF8E9;
    border-bottom: 1px solid #2e2e2e83;
    
    
}
.flexcontainer{
    
    display: flex;
    justify-content: center;
    position: relative;
    left: -40px;
}
section{
    
    margin: auto;
    
    padding: 20px;
    
    
    
}
nav{
    background-color:transparent;
    
    margin: 0px auto;
    text-align: center;
    padding:70px 10px 5px 10px;
    
    
    
    
}
#nav2{
    display: inline-block;
}
a{
    font-size: 1.7em;
    text-decoration: none;
    color: #56321A;
    font-weight: 300;
    margin: auto;
    padding: 0px 30px;
    
}
a:hover{
    background-color: #E8CFA2;
    color: white;
    border-radius: 20px 0px;
    text-decoration: underline;
    
}
#flower{
    text-align: center;
    width: 60px; 
    height: 60px;
    margin: auto 2px;
    
    
      
    
}
h1#titulosite{
    font-family: "Kaushan Script", cursive;
    font-weight: 400;
    font-style: normal;
    color:#56321A ;
    font-weight: 900;
    font-size: 3.5em;
    padding: 0px;
    margin: auto 10px;
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.589);
 

}
h2#slogan{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    color:#56321A ;
    font-weight: 300;
    font-size: 1.5em;
    padding: 0px;
    margin: auto;
    text-align: center;
    width: 400px;
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.589);
    
}
p{
    margin: auto;
    text-indent: 15px;
    padding: 20px;
    
}
h1{
    padding: 15px;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 2em;
}
#container1{
    background-color: white;
    padding: 20px;
    margin: 90px auto;
}
#container2{
    background:linear-gradient(-45deg,#458D05,#458D05,#2a5a12,#264415) ;
    padding: 0px;
    margin: -20px;
    padding: 20px;
}
#coltropical{
    font-family: "Roboto", sans-serif;
    font-style: normal;
    color:white ;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 2em;
    text-align: right;
}
#imgrib{
    max-width: 320px;
    height: 448px;
    margin-right: 200px;
    background-image: url("/images/costela.jpg");  
    background-size: 150%;   
    border-radius: 10px 0px 0px 10px;
    background-repeat: no-repeat;


}
#divrib{
    max-width:600px;
    height: 448px;
    
    background-color: white;
    margin: auto;
    border-radius: 10px;
}
#container2 > p{
    color: white;
    
}
footer{
    margin-top: 180px;
    padding: 5px;
    background-color: #56321A;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
    color: white;
    
    
}
#linkrodape{
    margin: auto;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
    color: white;
    padding: 0px;
    padding-right: 5px;

}
#linkrodape:hover{
    background-color: transparent;
}
#rodape{
    padding: 0px;
    margin: 0px;
    text-align: center;
}

#boximg1{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0px;

}


#foto1{
    width: 320px;
    height: 448px;
    margin: 10px;
    background-image: url("/images/foto1.jpg");
    background-repeat: no-repeat;
    position: relative;
    background-size: 110%;
}
#foto2{
    width: 320px;
    height: 448px;
    margin: 10px;
    background-image: url("/images/foto2.jpg");
    background-repeat: no-repeat;
    background-size: 110%;
}
#foto3{
    width: 320px;
    height: 448px;
    margin: 10px;
    background-image: url("/images/foto3.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}
#whatsapp{
    width: 70px;
    height: 70px;
    background-size: 100%;
    background-image: url("/images/whatsapp.png");
    background-repeat: no-repeat;
    position: fixed;
    bottom:40px;
	right:40px;
    
}
#instagram{
    width: 70px;
    height: 70px;
    background-size: 92%;
    background-image: url("/images/instagram.png");
    background-repeat: no-repeat;
    position: fixed;
    bottom:110px;
	right:39px;
    
    
}
#linkinsta{

    position: fixed;
    bottom:110px;
	right:39px;
    width: 70px;
    height: 70px;
    margin: 0px;
    padding: 0px;

}
#linkinsta:hover{
    
    background-color: transparent;
    border-radius: 0;
}
#linkwhats{
    position: fixed;
    bottom:40px;
	right:40px;
    width: 70px;
    height: 70px;
    margin: 0px;
    padding: 0px;
}
#linkwhats:hover{
    background-color: transparent;
    border-radius: 0;
}